<li class="px-3" data-page-no="1">
	<div class="page-width-1 page-left">
		<div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
			<div class="tm-bg-dark content-pad">
				<h2 class="mb-4">A programról</h2>
				A program front-endje Dr. Porkoláb Ádám munkája (<a href="https://www.porkolab.digital"
					target="_blank">https://www.porkolab.digital</a>). A szerző további szoftverei és jelen
				program forráskódja a GitHubról tölthető le (<a href="https://github.com/APorkolab"
					target="_blank">https://github.com/APorkolab</a>).
				<br>
				<br>

				<h4 class="highlight">A program további közreműködői:</h4>


				- Legelőször is hálásan köszönöm a <a href="https://szentiras.hu" target="_blank">Szentírás.hu</a>
				fejlesztőinek,
				<a href="https://github.com/briff">Fodor Bertalannak</a>, <a href="https://github.com/borazslo">Elek
					Lászlónak</a> és <a href="https://github.com/molnarm">Molnár Mártonnak</a> a backend API-t! Isten áldja meg és
				segítse
				a készítőket további munkájuk során!
				<br>
				- Köszönöm a Biblia könyveinek fejezet- és versszámait tartalmazó JSON file-t Ben Kuhlnak
				(<a href="https://github.com/bkuhl/bible-verse-counts-per-chapter"
					target="_blank">https://github.com/bkuhl/bible-verse-counts-per-chapter</a>). Ez alapvető fontosságú volt,
				hogy
				véletlenszerű
				igehelyeket tudjak generálni. A hiányzó könyvek (Tób, Judit, Bölcs, Sír, Bár, 1Makk és 2Makk) adatait a <a
					href="https://szentiras.hu" target="_blank">Szentírás.hu</a> alapján pótoltam.

				<br>
				- Köszönöm a TemplateMo-nak az ingyenes, Astro Motion sablont, amit testre szabhattam.
				(<a href="https://templatemo.com/tm-560-astro-motion"
					target="_blank">https://templatemo.com/tm-560-astro-motion</a>)<br>

				<p class="mb-4">
				</p>
			</div>
			<div class="circle intro-circle-1"></div>
			<div class="circle intro-circle-2"></div>
			<div class="circle intro-circle-3"></div>
			<div class="circle intro-circle-4"></div>
		</div>
		<!-- <div class="text-center">
            <a href="#0" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
              View Gallery
            </a>
          </div> -->
	</div>
</li>