<li data-page-no="3" class="px-3">
	<div class="position-relative page-width-1 page-right tm-border-top tm-border-bottom">
		<div class="circle intro-circle-1"></div>
		<div class="circle intro-circle-2"></div>
		<div class="circle intro-circle-3"></div>
		<div class="circle intro-circle-4"></div>
		<div class="tm-bg-dark content-pad">
			<h2 class="mb-4">Válassz ki egy igehelyet, gyorsan</h2>
			<p class="mb-4">

				<select name="books" id="books">
					<option value="Ter">Teremtés könyve</option>
					<option value="Kiv">Kivonulás könyve</option>
					<option value="Lev">Leviták könyve</option>
					<option value="Szám">Számok könyve</option>
					<option value="MTörv">Második Törvénykönyv</option>
					<option value="Józs">Józsue könyve</option>
					<option value="Bír">Bírák könyve</option>
					<option value="Rút">Rút könyve</option>
					<option value="1Sám">Sámuel első könyve</option>
					<option value="2Sám">Sámuel második könyve</option>
					<option value="1Kir">Királyok első könyve</option>
					<option value="2Kir">Királyok második könyve</option>
					<option value="1Krón">A krónikák első könyve</option>
					<option value="2Krón">Krónikák második könyve</option>
					<option value="Ezdr">Ezdrás könyve</option>
					<option value="Neh">Nehemiás könyve</option>
					<option value="Tób">Tóbiás könyve</option>
					<option value="Judit">Judit könyve</option>
					<option value="Eszt">Eszter könyve</option>
					<option value="Jób">Jób könyve</option>
					<option value="Zsolt">A zsoltárok könyve</option>
					<option value="Péld">A példabeszédek könyve</option>
					<option value="Préd">A Prédikátor könyve</option>
					<option value="Én">Az énekek éneke</option>
					<option value="Bölcs">A bölcsesség könyve</option>
					<option value="Sír">Jézus, Sirák fiának könyve</option>
					<option value="Iz">Izajás könyve</option>
					<option value="Jer">Jeremiás könyve</option>
					<option value="Siralm">Jeremiás siralmai</option>
					<option value="Bár">Báruk könyve</option>
					<option value="Ez">Ezekiel jövendölése</option>
					<option value="Dán">Dániel jövendölése</option>
					<option value="Óz">Ózeás jövendölése</option>
					<option value="Jo">Joel jövendölése</option>
					<option value="Ám">Ámosz jövendölése</option>
					<option value="Abd">Abdiás jövendölése</option>
					<option value="Jón">Jónás jövendölése</option>
					<option value="Mik">Mikeás jövendölése</option>
					<option value="Náh">Náhum jövendölése</option>
					<option value="Hab">Habakuk jövendölése</option>
					<option value="Szof">Szofoniás jövendölése</option>
					<option value="Agg">Aggeus jövendölése</option>
					<option value="Zak">Zakariás jövendölése</option>
					<option value="Mal">Malakiás jövendölése</option>
					<option value="1Makk">A Makkabeusok első könyve</option>
					<option value="2Makk">A Makkabeusok második könyve</option>
					<option value="Mt">Evangélium Máté szerint</option>
					<option value="Mk">Evangélium Márk szerint</option>
					<option value="Lk">Evangélium Lukács szerint</option>
					<option value="Jn">Evangélium János szerint</option>
					<option value="Csel">Az apostolok cselekedetei</option>
					<option value="Róm">A rómaiaknak írt levél</option>
					<option value="1Kor">Első levél a korintusiaknak</option>
					<option value="2Kor">Második levél a korintusiaknak</option>
					<option value="Gal">Levél a galatáknak</option>
					<option value="Ef">Levél az efezusiaknak</option>
					<option value="Fil">Levél a filippieknek</option>
					<option value="Kol">Levél a kolosszeieknek</option>
					<option value="1Tessz">Első levél a tesszalonikieknek</option>
					<option value="2Tessz">Második levél a tesszalonikieknek</option>
					<option value="1Tim">Első levél Timóteusnak</option>
					<option value="2Tim">Második levél Timóteusnak</option>
					<option value="Tít">Levél Títusznak</option>
					<option value="Filem">Levél Filemonnak</option>
					<option value="Zsid">Levél a zsidóknak</option>
					<option value="Jak">Jakab levele</option>
					<option value="1Pét">Péter első levele</option>
					<option value="2Pét">Péter második levele</option>
					<option value="1Ján">János első levele</option>
					<option value="2Ján">János második levele</option>
					<option value="3Ján">János harmadik levele</option>
					<option value="Júd">Júdás levele</option>
					<option value="Jel">János jelenései</option>
				</select>
				<br><br>
				<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
				<label for="vehicle1"> Több vers</label>
				<br><br>
			<table>
				<tbody>
					<tr>
						<td><label for="fname">Fejezet száma (több vers esetén a kezdet):</label>
							<input type="number" id="fname" name="fname">
						</td>
						<td><label for="fname">Vers száma (több vers esetén a kezdet):</label>
							<input type="number" id="fname" name="fname">
						</td>
					</tr>
					<tr>
						<td><label for="fname">Fejezet száma (több vers esetén a vég):</label>
							<input type="number" id="fname" name="fname">
						</td>
						<td><label for="fname">Vers száma (több vers esetén a vég):</label>
							<input type="number" id="fname" name="fname">
						</td>
					</tr>
				</tbody>
			</table>

			<br><br>

			<br><br>


			You are <span class="highlight">allowed</span> to use Astro Motion HTML Template for your websites. You
			are not allowed to re-distribute this template ZIP file on any Free CSS template collection website.
			Illegal redistribution is strongly prohibited.

			<p>
				Praesent auctor rhoncus arcu, vitae blandit est vestibulum sit amet. Integer erat
				turpis, vestibulum pellentesque aliquam ultricies, finibus nec dui. Donec bibendum
				enim mi, at tristique leo feugiat at. Thank you for visiting Template Mo.
			</p>
		</div>
	</div>
</li>