td {
  min-width: 100px;
}

table.striped {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

table.striped tr {
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

table.striped tr:nth-child(even) {
  background-color: #4E4E4A;
}

table.striped tr:hover {
  background-color: #3C3C3B;
}

table.striped th,
table.striped td {
  padding: 12px 15px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    width: 100%;
  }

  /* az oszlopokat fejlécbe tömörítjük */
  table tbody tr td:nth-child(1):before {
    content: "Könyv: ";
    font-weight: bold;
  }

  table tbody tr td:nth-child(2):before {
    content: "Fordítás: ";
    font-weight: bold;
  }

  table tbody tr td:nth-child(3):before {
    content: "Vers: ";
    font-weight: bold;
  }

  table tbody tr td:nth-child(4):before {
    content: "Fejezet: ";
    font-weight: bold;
  }
}

table tbody tr td:nth-child(5):before {
  content: "Szöveg: ";
  font-weight: bold;
}


@media only screen and (max-width: 767px) {
  thead {
    display: none;
  }
}
