<li data-page-no="4">
	<div class="mx-auto page-width-2">
		<div class="row">
			<div class="col-md-6 me-0 ms-auto">
				<h2 class="mb-4">Keress egy igehelyet</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 tm-contact-left">
				<div class="input-group tm-mb-30">
					<input name="name" [(ngModel)]="searchWord" type="text"
						class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Name">
				</div>

				<div class="input-group justify-content-end">
					<button type="button" (click)="search(searchWord)">Click Me!</button>

				</div>

			</div>
			<div class="col-md-6 tm-contact-right">
				<p class="mb-4">
					Integer erat turpis, vestibulum pellentesque aliquam
					ultricies, finibus nec dui. Donec bibendum enim mi,
					at tristique leo feugiat at.
				</p>
				<div>
					Email: <a href="mailto:info@company.com" class="tm-link-white">info@company.com</a>
				</div>
				<div class="tm-mb-45">
					Tel: <a href="tel:0100200340" class="tm-link-white">010-020-0340</a>
				</div>
				<!-- Map -->
				<div class="map-outer">
					<div class="gmap-canvas">
						<div>

							<!-- <table>
								<thead>
									<tr>
										<th>Book</th>
										<th>Translation</th>
										<th>Chapter</th>
										<th>Verse</th>
										<th>Text</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let verse of verseData">
										<td>{{ verse.book.name }}</td>
										<td>{{ verse.translation.name }}</td>
										<td *ngFor="let chapter of verse.verses">{{ verse.chapters }}</td>
										<td *ngFor="let verse of verse.verses">{{ +verse.numv }}</td>
										<td *ngFor="let verse of verse.verses">{{ verse.text }}</td>
									</tr>
								</tbody>
							</table> -->


							<!-- <table>
								<thead>
									<tr>
										<th>Book</th>
										<th>Translation</th>
										<th>Chapter</th>
										<th>Verse</th>
										<th>Text</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let verse of verseData">
										<td>{{ verse.book.name }}</td>
										<td>{{ verse.translation.name }}</td>
										<td>{{ verse.verses[0].chapter }}</td>
										<td *ngFor="let v of verse.verses">{{ v.numv }}</td>
										<td *ngFor="let v of verse.verses">{{ v.text }}</td>
									</tr>
								</tbody>
							</table> -->



							<table>
								<thead>
									<tr>
										<th>Book</th>
										<th>Translation</th>
										<th>Chapter</th>
										<th>Verse</th>
										<th>Text</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let verse of verseData">
										<td>{{ verse.book.name }}</td>
										<td>{{ verse.translation.name }}</td>
										<ng-container *ngFor="let v of verse.verses">
											<td>{{ v.chapter }}</td>
											<td>{{ v.numv }}</td>
											<td>{{ v.text }}</td>
										</ng-container>
									</tr>
								</tbody>
							</table>





							<!-- <table>
								<thead>
									<tr>
										<th>Book</th>
										<th>Translation</th>
										<th>Chapter</th>
										<th>Verse</th>
										<th>Text</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let verse of verseData">
										<td>{{ verse.book.name }}</td>
										<td>{{ verse.translation.name }}</td>
										<td>{{ Object.keys(verse.verses)[0] }}</td>
										<td *ngFor="let chapter of Object.values(verse.verses)[0]">
											{{ chapter.numv }}
										</td>
										<td *ngFor="let chapter of Object.values(verse.verses)[0]">
											{{ chapter.text }}
										</td>
									</tr>
								</tbody>
							</table> -->




						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>