<video autoplay muted loop id="bg-video" #bgVideo>
  <source src="../assets/video/gfp-astro-timelapse.mp4" type="video/mp4">
</video>

<div class="page-container">
  <button (click)="toggleVideo(bgVideo)" class="btn btn-dark">Videó megállítása/újraindítása</button>
  <app-navbar></app-navbar>
  <div class="container-fluid tm-content-container">
    <ul class="cd-hero-slider mb-0 py-5">
      <router-outlet></router-outlet>
    </ul>
  </div>
  <div class="container-fluid">
    <footer class="row mx-auto tm-footer">
      <div class="col-md-6 px-0">
        Készítette: Dr. Porkoláb Ádám a Szentiras.hu API-ja alapján. Szabadon felhasználható és terjeszthető az Úr
        nagyobb dicsőségére.
      </div>
      <div class="col-md-6 px-0 tm-footer-right">
        Felhasznált
        design: <a rel="sponsored" href="https://templatemo.com" target="_blank" class="tm-link-white">Astro Motion
          template - TemplateMo</a>
      </div>
    </footer>
  </div>
</div>